body {
    background-color: bisque;
}

h1 {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    text-align: center;
    color:brown;
    text-align: center;
    font-size: 30px;
}

p {
    color: blue;
}

img {
  background-color: brown;
}