/******************************TAG SELECTORS**********************/
body {
    background-color: white;
}

img:hover {
    background-color: gold;
}

h1 {
    color:red;
     font-size: 30px;
    text-align: center;
    text-align: center;
}

p {
    color: brown;
}

/* img { */
  /* background-color: red; */
/* } */
/******************************CLASS SELECTORS**********************/
.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/*******************************ID SELECTORS**********************/

#heading {
    color:blue;
}
